@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 26 100% 50%;
    --primary-foreground: 0 0% 100%;
    --font-inter: Inter_400Regular;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 98%;
    --muted-foreground: 0 0% 33%;
    --accent: 210 20% 98%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 90%;
    --input: 210 20% 98%;
    --ring: 26 100% 50%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 26 100% 50%;
    --primary-foreground: 0 0% 100%;
    --font-inter: Inter_400Regular;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 98%;
    --muted-foreground: 0 0% 33%;
    --accent: 210 20% 98%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 90%;
    --input: 210 20% 98%;
    --ring: 26 100% 50%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}
